* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "side-bar header header header header header"
    "side-bar main main main main main"
    "side-bar main main main main main"
    "side-bar main main main main main";

  grid-template-columns:
    minmax(150px, 250px)
    repeat(5, minmax(100px, 1fr));

  grid-template-rows:
    minmax(150px, 170px)
    repeat(3, minmax(200px, 1fr));
}

#side-bar {
  grid-area: side-bar;
  background-color: red;
}
#header {
  grid-area: header;
  background-color: blue;
}
#main {
  grid-area: main;
  background-color: green;
}
