:root {
  --primary-color: #ffffff;
  --secondary-color: #e1e8f0;
  --accent-color: #1892d3;
  --subtle-accent-color: #efb428;
  --text-color: #666666;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Roboto";
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "side-bar header header header header header"
    "side-bar main main main main main"
    "side-bar main main main main main"
    "side-bar main main main main main";

  grid-template-columns:
    minmax(150px, 250px)
    repeat(5, minmax(100px, 1fr));

  grid-template-rows:
    180px
    repeat(3, minmax(200px, 1fr));
}

#side-bar {
  grid-area: side-bar;
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding-left: 2rem;
  font-size: 1.8rem;
}
#header {
  grid-area: header;
  background-color: var(--primary-color);
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 1.8rem;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#main {
  grid-area: main;
  background-color: var(--secondary-color);
  overflow-y: scroll;

  display: grid;
  grid-template-areas: 
  "projects projects projects announcements"
  "projects projects projects announcements"
  "projects projects projects trending";
  padding: 3rem 3rem 4rem 3rem;
  gap: 3rem;
}

/* Logo */
#logo {
  width: 35px;
  height: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}
#logo-container {
  margin-top: 2rem;
}
.logo-box {
  background-color: var(--primary-color);
}
#logo-box1 {
  grid-row: 1/3;
}
#logo-box4 {
  grid-row: 2/4;
}

/* Side bar */
.grid-horizontal {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  margin: 1rem 0 1rem 0;
}
.grid-horizontal i {
  text-align: center;
}
.grid-horizontal h3,
.grid-horizontal h2 {
  padding-left: 2rem;
}
.grid-nav {
  margin: 4rem 0 4rem 0;
}

/* Header */
.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 0 auto;
  align-items: center;
}
.search-bar-container {
  width: 70%;
}
.search-bar {
  width: 90%;
  border: none;
  height: 3.5rem;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin-left: 1.2rem;
  padding-left: 1rem;
  font-size: 1.6rem;
}
.aside-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.user-picture-reduced {
  background-color: #1892d3;
  height: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.btm-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 0 auto;
  align-items: center;
}
#user-magnified {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

#user-magnified h2 {
  font-size: 2.5rem;
}

h2 a {
  color: black;
  text-decoration: none;
}
.user-picture {
  height: 70px;
  aspect-ratio: 1/1;
  background-color: #1892d3;
  border-radius: 50%;
}
.button-options {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.button-options button {
  width: 100px;
  height: 4rem;
  border-radius: 20px;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5rem;
}

/* Main */
.projects-section{
    grid-area: projects;
}
.announcements-section{
    grid-area: announcements;
}
.trending-section{
    grid-area: trending;
}

/* Projects section */
.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(270px, 1fr));
    gap: 3rem;
    height: 90%;
}
#main h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.project-card{
    background-color: var(--primary-color);
    border-left: 10px solid var(--subtle-accent-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: auto;
    padding: 2rem 2rem 2rem 2rem;
    font-size: 1.8rem;
    position: relative;
}
.project-card h4{
    font-size: 2rem;
    font-weight: 600;
}
.project-card p{
    color:var(--text-color)
}
.project-card-options{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    bottom: 2rem;
    right: 2rem;
}
/* Announcements section */
.announcements-container{
    background-color: var(--primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 70%;
    padding: 3rem 2rem 3rem 2rem;
}
.announcement{
    border-bottom: 2px solid rgba(102, 102, 102, 0.3);
    padding-bottom: 1rem;
    margin: 0 0 2rem 0;
}
.announcement:last-of-type{
    border: none;
}
.announcements-container h5{
    font-size: 1.5rem;
}
.announcements-container p{
    font-size: 1.3rem;
    color: var(--text-color);
}
/* Trending */
.trending-section{
    margin-top: -18rem;
}
.users-container{
    background-color: var(--primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 3rem ;
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.user{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 1.6rem;
}
.user-username{
    color: black;
}
.user-app{
    color:var(--text-color);
}